.header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
}
.fleche_retour{
    position: absolute;
    top: 30px;
    left: 30px;
}
.imageresto{
    width: 100%;
    height: 250px;
    object-fit: cover;
  
}
.menu{
    width: 100%;
    background-color: #f6f6f6;
    border-radius: 25px 25px 0 0;
    position: absolute;
    top: 300px;
}
.menu_header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
.nom_resto{
    font-family: "Shrikhand", cursif;
    font-size: 1.8rem;
    font-weight: 400;
    margin-top:0;
    padding: 30px 0 20px 20px;
}
.menu h2{
            padding-left:0;
            margin-left:  20px;
            margin-bottom: 15px;
            border-bottom: solid 2px #99E2D0;
            width: 10%;
            padding-bottom: 2px;
}
.menu_plat{
            width: 95%;
            height: 70px;
            margin:auto;
            margin-bottom: 15px;
            padding: 10px 0;
            background-color: white;
            border-radius: 15px;
            position: relative;
            cursor: pointer;
            /*opacity: 0;*/
            z-index: 1;
            box-shadow: 3px 3px 10px rgba(7, 7, 7, 0.15);
}
.plat_txt{
    height: 20px;
    display: flex;

    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    overflow: hidden;
    
}
.menu_plat h4{
    margin:0;
    padding-left: 17px;
    padding-bottom: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.intitule {
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.prix{
    padding-right: 25px;
    font-weight: bolder;
    display: flex;
    justify-content: flex-end;
}
.validation{
    background-color: #99E2D0;
  color: white;
  height: 70px;
  width: 0%;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  border-radius: 0 15px 15px 0;
  margin-right: 0;
  transition: transform 0.5s ease-in-out;
  transform-origin: right;
  z-index: 2;
  margin-left: 95%;
  /*animation: check .5s ease-in-out;*/
 
  cursor: pointer;
  position:absolute;
  right:16px;
  bottom:0;
  /*z-index: 2;*/
  
}
/* animation validation*/
.menu_plat:hover + .validation {
    width:16%;
    opacity: 1;
    animation: clic 1s both ease-in-out ;
    transform-origin: right;
    /*transform: translateX(-100%);
    transition:1s ease-in-out;*/
  }
  
  
  .validation:hover { 
    animation: clic 1s  ease-in-out;
    transform-origin: right;
  }
  @keyframes clic {
    0% {width: 0%; opacity: 0;
    }
    100% { width: 17%;
    }
  }

  /*rotation clic*/
  .menu_plat:hover + .validation span {
   transform: rotate(360deg);
  }
  .validation span{
    transform: rotate(0);
    transition: transform 1s ease-in-out;
  }

  /*apparition retardée*/
  .menu_carte--1,.menu_carte--2,.menu_carte--3,.menu_carte--4,.menu_carte--5,.menu_carte--6,.menu_carte--7,.menu_carte--8,.menu_carte--9 {
    cursor: pointer;
    animation: app .5s both .8s;
    opacity: 0;
  }
  
  .menu_carte--1 {
    animation-delay: .5s;
  }
  .menu_carte--2 {
    animation-delay: 1s;
  }
  .menu_carte--3 {
    animation-delay: 1.5s;
  }
  .menu_carte--4 {
    animation-delay: 2s;
  }
  .menu_carte--5 {
    animation-delay: 2.5s;
  }
  .menu_carte--6 {
    animation-delay: 3s;
  }
  .menu_carte--7 {
    animation-delay: 3.5s;
  }
  .menu_carte--8 {
    animation-delay: 4s;
  }
  .menu_carte--9 {
    animation-delay: 4.5s;
  }
  @keyframes app {
    from {
      transform: translatey(0);
     
    }
    to {
      transform: translatey(10%);
      opacity: 1;
    }
  }


  /*bouton commander*/
  .bouton{
  margin: 45px;
    display: flex;
    justify-content: center;
  }
 .bouton_reservation{
  background-image: linear-gradient(0deg, #9356DC, #FF79DA);
    border-radius: 50px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    padding: 15px 50px 15px 50px;
    cursor: pointer;
    box-shadow: 3px 3px 10px rgba(7, 7, 7, 0.15);
    transition: all 0.5s;
   }
   .bouton_reservation:hover {
    transform: scale(1.04);  
    background-image: linear-gradient(0deg, #f8dbf0,  #FF79DA);
    box-shadow: 3px 8px 10px rgba(7, 7, 7, 0.25);
 }
/*footer*/
  footer nav{
  background-color:black;
  display: flex;
  flex-direction: column;
  }
  h3{
  color: white;
  font-family: "Shrikhand", cursif;
  font-size: 1.5rem;
  font-weight: 400;
  margin: 10px 0 20px 0;
  }
  ul {
  list-style-type: none; 
   padding-left: 20px;
  }
  footer a{
  display:flex;
  flex-wrap:wrap;
  align-items: center;
  }
  footer p{
  color: white;
  padding: 5px 0 5px 0;
  margin: 0;
  }
  footer i{
  color: white;
  margin-right: 20px;
  }