@media screen and (min-width: 1200px) {
    .fonctionnement_global{
    display: flex;
    flex-wrap:wrap;
    }    
    .fonctionnement_bouton{
    padding-right: 25px;
    margin: 20px 45px 20px 60px;
    justify-content:space-between;
    }
    .resto_global{
    display:flex;
    flex-flow: row wrap;
    justify-content: space-around;
    }
    .resto_carte{
    width:45%;
    }
    footer ul{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    
    }
}