
@import "utils/_variable.scss";
@import "utils/_mixin.scss";
@import "layout/footer.scss";


*{
    text-decoration: none;
    box-sizing: border-box;
    }
    
    body{
        font-family: "Roboto", sans-serif;
        margin:auto;
    }
    .entetelogo{
        text-align: center;
        padding: 20px;
    }
    
    .city {
        display:flex;
        flex-direction: row;
        justify-content: center;
        align-items: baseline;
        background-color: $colour-fond3;
      }
      p{
          font-weight: bold;
          color:black;
          margin-left: 15px;
      }
    .resa{
        background-color:$colour-fond1 ;
        display:block;
        text-align: center;
        padding-bottom: 65px;
    }
    .resa h1{
        padding: 50px 50px 0px 50px;
        font-family: 'arial';
        font-weight:bold;
        font-size:24px;
        margin:0;
    }
    .decouvrez{
        padding: 0 40px 35px 40px;
        color: $colour-fond2;
    }
    /*bouton réservation*/
    .resa_txt_bouton{
        background-image: linear-gradient(0deg, $colour-bouton1, $colour-bouton2);
        border-radius: 50px;
        color: $colour-fond7;
        font-weight: bold;
        text-align: center;
        padding: 15px;
        cursor: pointer;
        @include ombre;
        transition: transform 0.5s;
       }
       .resa_txt_bouton:hover {
        transform: scale(1.04);  
        background-image: linear-gradient(0deg, $colour-bouton2, $colour-bouton1);
        @include ombreplus;
       }
    /*fonctionnement*/
    .fonctionnement{
        margin: 20px 20px 40px 20px;
    }
    .fonctionnement_bouton{
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        font-weight: bolder;
        background-color: $colour-fond6;
        border-radius: 15px;
        @include ombre;
        margin: 20px 0 20px 20px;
        padding: 28px 0;
        cursor: pointer;
        position: relative;
        transition: all 0.5s;
    }
    .fonctionnement_bouton:hover + .fonctionnement_logo{
        transform: scale(1.02);
        background-color:#f8e9f4;
        @include ombreplus;
        color:#f8e9f4;
    }

    .fonctionnement_numero{
        border-radius: 50%;
        left: -18px;
        padding: 8px 12px;
        font-size: 15px;
        background-color: $colour-bouton1;
        color: #fff;
        position: absolute;
    }
    .fonctionnement_logo{
        padding-left: 40px;
        padding-right: 20px;
        color: $colour-fond2;
    }
    /*restaurants*/
    #restaurants{
        background-color:$colour-fond1 ;
        display: flex;
        flex-direction: column;
    }
    .resto_container{
        padding: 20px;
    }
    h1{
        font-size: 1.5em;
        font-family: 'arial';
        color: black;
        font-weight: bold;
    }
    h2{
        font-size: 1em;
        font-family: 'arial';
        color: black;
        font-weight: bold;

    }
    .resto_carte{
        @include ombre;
         border-radius: 15px;
         width: 99%;
         height: 250px;
         margin-bottom: 20px;
         overflow: hidden;
         cursor: pointer;
         position: relative;
         transition: transform 0.5s;
     }  
     .resto_carte:hover{
         @include ombreplus;
         transform:scale(1.02)
     }
     
        
    .resto_carte img{
        object-fit: cover;
        width: 100%;
        height: 70%;
    }
    .nouveau{
        position: absolute;
        top: 2px;
        right: 12px;
        padding: 7px 20px 7px 20px;
        color: $colour-fond4 ;
        background-color: $colour-fond8;
        font-weight: bolder;
        border-radius: 2px;
    }
    .resto.txt{
        width: 100%;
        height: 30%;
        position: relative;
    }
    h2{
        margin-bottom:0;
        font-size: 18px;
        font-weight:bolder;
        padding-left: 15px;
    }
    p.ville_resto{
    margin-top: 5px;
    }
    
    /*animation coeur*/
    @include animationcoeur;
    
    /*footer*/
    @include footer;
    
    /*animation loading*/
    .main_div {     
        animation: pleinecran 2s ease-in;
        -webkit-animation: pleinecran  2s ease-in;
        -o-animation: pleinecran  2s ease-in;
    }
    
    @keyframes pleinecran {
    
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    .load{
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $colour-bouton2;
        height: 100vh;
        width: 100%;
        animation: loading 3.5s ease-in;
        animation-fill-mode: forwards;
      
    }
    .loader{
        animation: rotation 3.5s ease-in 1;
        -webkit-animation:  rotation 3.5s ease-in 1;
        -o-animation: rotation 3.5s ease-in 1;
        
    }
    @keyframes loading {     
        0% { 
                opacity: 1;
            }
        100%{ 
                opacity: 0; 
            }
    }
    @keyframes rotation {     
        0% { 
                transform: scale(1) rotate(0deg);
                
            }
        100%{ 
               transform: scale(6) rotate(360deg);
               
            }
    }